
:root{
    --bg_hero: #1abc9c;
    --bg-grey: #3a546d;
}

/* img container */
.img-container{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

img{
    width: 100%;
}
.mid_line{
    width: 50%;
    height: 20%;
    background-color: white;
}

.my-circle{
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
    
}

.my-circle i{
    transform: translate(5%, 10%);
}

#hero, #about, .bg-green{
    background-color: var(--bg_hero);
}

.text-green{
    color: var(--bg_hero);
}

#info{
    background-color: var(--bg-grey);
}