*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --bg_hero: #1abc9c;
}

.img-container{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

img{
    width: 100%;
}
.mid_line{
    width: 50%;
    height: 20%;
    background-color: white;
}

#hero{
    background-color: var(--bg_hero);
}

#about{
    background-color: var(--bg_hero);
}